<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adder</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        Enter First Number: <input type="text" name="firstnum"><br>
        Enter Second Number: <input type="text" name="secondnum"><br>
        <input type="submit" value="Add"><br>
        {% if add %}
            Addition:{{ add }}
        {% endif %}
    </form>
</body>
</html>