<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Templates return by django server</h1>
    
    <table border="1">
        <tr>
          <th>S. Num</th>
          <th>Name</th>
          <th>Age</th>
        </tr>
        {% for people in peoples %}
        <tr>
          <td>{{ forloop.counter }}</td> <!--Start counter from index 1-->
          <td>{{people.name}}</td>
          <td>{{people.age}}</td>
        </tr>
        {% endfor %}
      </table>
</body>
</html>